/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}
/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1, h2, p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: rgb(230, 198, 17);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: flex;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 800px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
  background-color: rgb(255, 196, 0);
  border-radius: 5px;
}
.nav__link:hover::after {
  position: absolute;
  content: '';
  left: 0;
  top: 2rem;
  background-color:rgb(255, 196, 0);
}
.nav__logo {
  color: rgb(8, 51, 243);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
/*.show {
  right: 0;
}*/
/*===== HOME =====*/

/*videolu home*/
#hero video{
  height: 100vh;
  margin-top:45px;
  width: 100%;
  background-position: absolute;
  z-index: 100;
  object-fit: cover;
}
#hero .home{
  width: 100%;
  height: 100%;
  /*z-index: 20;*/
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
#hero .home__data h1{
  color: var(--first-color);
  font-family: Arial, sans-serif;
  
}
#hero .home__data {
  align-self: center;
}
#hero .home__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-5);
  padding-left: 420px;
}
#hero .home__title-color {
  color: var(--second-color);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
  font-size: var(--h2-font-size);
}
.about__text {
  font-size: 17px;
}
.about__tittle {
  padding-left: 70px;

}
.about__img {
  width: 5000px;
  justify-self: center;
}
.about__img img {
  border-radius: .5rem;
  width: 8000px;
 
}
/* ===== FOOTER =====*/
.footer {
  background-color: rgb(255, 196, 0);
  color: var(--first-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: aqua;
  margin: 0 var(--mb-2);
}
/*.footer__copy {
  font-size: var(--smaller-font-size);
}*/
/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__link {
    color: rgb(8, 51, 243);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    height: 400px;
    width: 5000px;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
}